/* global */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

.main-content-wrap {
  padding-top: 13rem;
}

/* Thumbnails */

.thumbnail {
  background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: bottom;
  background-size: cover;
  min-height: 70px;
  min-width: 95px;
}

.thumbnail1 {
  background-image: url("https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: bottom;
}

.thumbnail2 {
  background-image: url("https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=780&q=80");
  background-position: center left;
}

.thumbnail3 {
  background-image: url("https://images.unsplash.com/photo-1605909388460-74ec8b204127?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: center;
}

.thumbnail4 {
  background-image: url("https://images.unsplash.com/photo-1560717845-968823efbee1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

.thumbnail5 {
  background-image: url("https://images.unsplash.com/photo-1604908177453-7462950a6a3b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1057&q=80");
}

/* Recipe card */

.recipe-card-container {
  width: 95%;
}

.recipe-card {
  padding: 1rem;
  width: 100%;
  margin: 2rem auto;
}

.fa-share-square {
  font-size: 2rem;
  color: rgb(113, 113, 113);
}

/* Overlay & hover */
.overlay-container {
  position: relative;
}

.overlay-container .img-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.overlay-container:hover .img-overlay {
  opacity: 1;
  cursor: pointer;
}

.img-text {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #fff;
  padding: 0 1rem;
}

.img-text-hover {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease-in 0s;
  opacity: 0;
}

.overlay-container:hover .img-text-hover {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fade-in {
  top: 60%;
}

@media only screen and (min-width: 530px) {
  .recipe-card-container {
    width: 70%;
  }

  .recipe-card {
    margin: 3rem auto;
    padding: 3rem;
  }
}

@media only screen and (min-width: 700px) {
  .main-content-wrap {
    padding-top: 9rem;
  }
  .thumbnail {
    min-height: 100px;
    min-width: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .main-content-wrap {
    padding-top: 6rem;
  }

  .thumbnail {
    min-height: 150px;
    min-width: 200px;
  }
} ;
